body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-lg: 18px;
  --font-size-mini: 15px;
  --font-size-smi: 13px;
  --font-size-mid: 17px;
  --font-size-xl: 20px;
  --font-size-6xl: 25px;
  --font-size-26xl: 45px;
  --font-size-11xl: 30px;
  --font-size-16xl: 35px;
  --font-size-21xl: 40px;
  --font-size-3xs: 10px;
  --font-size-31xl: 50px;

  /* Colors */
  --color-white: #fff;
  --color-darkslategray-100: #312f2f;
  --color-whitesmoke-100: #f9f9f9;
  --color-whitesmoke-300: #f5f5f5;
  --color-whitesmoke-200: rgba(249, 249, 249, 0.98);
  --color-black: #000;
  --color-mediumturquoise: #2ecabd;
  --color-red: #ff0000;
  --color-darkslateblue-100: #8165a0;
  --color-lightslategray: #618b99;
  --color-slategray: #6a818e;

  /* Gaps */
  --gap-9xs: 4px;
  --gap-3xs: 10px;
  --gap-6xl: 25px;

  /* Paddings */
  --padding-3xs: 10px;
  --padding-31xl: 50px;
  --padding-131xl: 150px;
  --padding-6xl: 25px;
  --padding-26xl: 45px;
  --padding-mini: 15px;
  --padding-xl: 20px;
  --padding-11xl: 30px;
  --padding-181xl: 200px;
  --padding-61xl: 80px;
  --padding-lg: 18px;
  --padding-8xs: 5px;
  --padding-21xl: 40px;
  --padding-41xl: 60px;
  --padding-37xl: 56px;

  /* Border radiuses */
  --br-xl: 20px;
  --br-mini: 15px;
}
